{% extends "layout.html" %}
{% block content %}
  <div class="col-md-8">
    <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

      <title>Class Scheduler</title>
    </head>
    <body>
      <h2 class="text-primary">Connecticut College Class Scheduler</h2>
      <font size="2">
      <table class="table table-sm">
          <thead class="table-primary">
            <tr style="text-align:center">
              <th scope="col">Time</th>
              <th scope="col">Sunday</th>
              <th scope="col">Monday</th>
              <th scope="col">Tuesday</th>
              <th scope="col">Wednesday</th>
              <th scope="col">Thursday</th>
              <th scope="col">Friday</th>
              <th scope="col">Saturday</th>
            </tr>
          </thead>
          <tbody style="overflow-y: auto">
            <tr>
              <th scope="row" rowspan="4">8:00-9:00</th>
              <td style="background-color: rgb(151, 151, 223); height: 25%">{{ courses[0] }}</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <!-- <th scope="row">8:05-8:10</th> -->
              <td style="background-color: rgb(151, 151, 223); height: 10%">.</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <!-- <th scope="row">8:10-8:15</th> -->
              <td>.</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <!-- <th scope="row">8:15-8:20</th> -->
              <td>.</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th scope="row" rowspan="4">9:00-10:00</th>
              <td style="background-color: rgb(206, 177, 81); height: 100%"></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <!-- <th scope="row">8:05-8:10</th> -->
              <td style="background-color: rgb(81, 206, 98); height: 60%"></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <!-- <th scope="row">8:10-8:15</th> -->
              <td style="height: 20%;"></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <!-- <th scope="row">8:15-8:20</th> -->
              <td style="height: 10%"></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th scope="row" rowspan="4">10:00-11:00</th>
              <td style="background-color: rgb(206, 177, 81); height: 50%"></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <!-- <th scope="row">8:05-8:10</th> -->
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <!-- <th scope="row">8:10-8:15</th> -->
              <td></td>
              <td></td>
              <td style="background-color: rgb(151, 206, 223); height: 25%">{{ courses[1] }}</td>
              <td></td>
              <td style="background-color: rgb(151, 206, 223); height: 25%">{{ courses[1] }}</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <!-- <th scope="row">8:15-8:20</th> -->
              <td></td>
              <td></td>
              <td style="background-color: rgb(151, 206, 223); height: 25%"></td>
              <td></td>
              <td style="background-color: rgb(151, 206, 223); height: 25%"></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th scope="row" rowspan="4">11:00-12:00</th>
              <td></td>
              <td></td>
              <td style="background-color: rgb(151, 206, 223); height: 10%"></td>
              <td></td>
              <td style="background-color: rgb(151, 206, 223); height: 10%"></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <!-- <th scope="row">8:05-8:10</th> -->
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <!-- <th scope="row">8:10-8:15</th> -->
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <!-- <th scope="row">8:15-8:20</th> -->
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th scope="row" rowspan="4">12:00-1:00</th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <!-- <th scope="row">8:05-8:10</th> -->
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <!-- <th scope="row">8:10-8:15</th> -->
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <!-- <th scope="row">8:15-8:20</th> -->
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th scope="row" rowspan="4">1:00-2:00</th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <!-- <th scope="row">8:05-8:10</th> -->
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <!-- <th scope="row">8:10-8:15</th> -->
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <!-- <th scope="row">8:15-8:20</th> -->
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th scope="row" rowspan="4">2:00-3:00</th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <!-- <th scope="row">8:05-8:10</th> -->
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <!-- <th scope="row">8:10-8:15</th> -->
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <!-- <th scope="row">8:15-8:20</th> -->
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th scope="row" rowspan="4">3:00-4:00</th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <!-- <th scope="row">8:05-8:10</th> -->
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <!-- <th scope="row">8:10-8:15</th> -->
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <!-- <th scope="row">8:15-8:20</th> -->
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th scope="row" rowspan="4">4:00-5:00</th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <!-- <th scope="row">8:05-8:10</th> -->
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <!-- <th scope="row">8:10-8:15</th> -->
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <!-- <th scope="row">8:15-8:20</th> -->
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th scope="row" rowspan="4">6:00-7:00</th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <!-- <th scope="row">8:05-8:10</th> -->
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <!-- <th scope="row">8:10-8:15</th> -->
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <!-- <th scope="row">8:15-8:20</th> -->
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th scope="row" rowspan="4">7:00-8:00</th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <!-- <th scope="row">8:05-8:10</th> -->
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <!-- <th scope="row">8:10-8:15</th> -->
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <!-- <th scope="row">8:15-8:20</th> -->
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th scope="row" rowspan="4">8:00-9:00</th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <!-- <th scope="row">8:05-8:10</th> -->
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <!-- <th scope="row">8:10-8:15</th> -->
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <!-- <th scope="row">8:15-8:20</th> -->
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th scope="row" rowspan="4">9:00-10:00</th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <!-- <th scope="row">8:05-8:10</th> -->
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <!-- <th scope="row">8:10-8:15</th> -->
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <!-- <th scope="row">8:15-8:20</th> -->
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
        </font>

      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    </body>
  </div>
  <div class="col-md-4">
    <div class="content-section">
      <h4>Add a course</h4>
      <form method="POST" action="">
          {{ form.hidden_tag() }}
          <fieldset class="form-group">
              <legend>Select a Course</legend>
              <div class="form-group">
                  {{ form.course.label(class="form-control-label") }}
                  {{ form.course(class="form-control form-control-lg") }}
              </div>
          </fieldset>
          <div class="form-group">
              {{ form.submit(class="btn btn-outline-info") }}
          </div>
      </form>
    </div>
  </div>
{% endblock content %}