body {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    min-height: 100vh;
    padding-top: 4rem;
    padding-left: 2rem;
    font-family: -system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  }

/* .tableFixHead {
  overflow-y: auto;
  height: 106px;
}
.tableFixHead thead th {
  position: sticky;
  top: 0;
} */
/* .tableWrapper {
  position:relative;
  width:100%;
  min-height:1px;
  padding-right:15px;
  padding-left:15px;
  -webkit-box-flex:0;
  -ms-flex:0 0 75%;
  flex:0 0 75%;
  max-width:75%;
} */

table {
  width: 100%;
  table-layout: fixed;
  padding-left: 2rem;
}
table th,
table td {
  width: 100%;
  text-align: center;
  border-bottom: thin dotted #ccc;
  padding: 0.2rem;
}
table th {
  /* position: sticky; */
  /* top: 0; */
  font-weight: bold;
  font-size: medium;
}
table td {
  font-size: 10px;
  font-weight: normal;
  line-height: 1.4;
  border-radius: 0.2rem;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
table td:first-child,
table th:first-child {
  text-align: left;
}​
table td > span {
  font-size: 0.8em;
  font-weight: normal;
  display: block;
  width: 100%;
}

.course-one {
  background-color: #FFA726;
}

.course-two {
  background-color: #9CCC65;
}

.course-three {
  background-color: #f3684f;
}

.course-four {
  background-color: #69d6ac;
}

.course-five {
  background-color: #faf281;
}

.course-six {
  background-color: #26C6DA;
}

.course-seven {
  background-color: #a970b8;
}

.course-eight {
  background-color: pink;
}

.course-nine {
  background-color: #909697;
}

.course-ten {
  background-color: #3167b8;
}

#smaller {
  font-size: small;
}