{% extends "layout.html" %}
{% block content %}
    <div class="col-md-8">
        <div class="content-section">
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <legend>Select a Course</legend>
                    <div class="form-group">
                        {{ form.course.label(class="form-control-label") }}
                        {{ form.course(class="form-control form-control-lg") }}
                    </div>
                </fieldset>
                <div class="form-group">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
            </form>
        </div>
        {% if error %}
            <p class=error><strong>Error:</strong> {{ error }}
        {% endif %}
    </div>
{% endblock content %}